name: Testing Script

on: push
  #schedule:
  #  - cron: '0 0 * * 0'  # Run every Sunday at midnight

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Read current versions
        id: read_version
        run: echo "::set-output name=version::$(cat $HOME/version.txt)"

      - name: Increment PATCH version
        id: increment_version
        run: echo $((($(echo ${{ steps.read_version.outputs.version }} | tr -d '.')+1))) > VERSION.txt
      
      - name: Commit and push version increment
        run: |
          git config user.name "P1989singh"
          git config user.email "prmkmrsingh@yahoo.in"
          git add ./.github/workflows/version.txt
          git commit -m "Increment version to $(cat version.txt)"
          git push -u origin main

       #   - name: Deploy database scripts
        # Add your script deployment commands here
       # run: |
          # Example: Deploy your database scripts using a database management tool

     
     