name: Testing Script

on: push
  #schedule:
  #  - cron: '0 0 * * 0'  # Run every Sunday at midnight

jobs:
  release:
    runs-on: ubuntu-latest
    # if: github.repository != 'P1989singh/testing2/demo'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: semantic versioning
        id: versioning
        uses: paulHatch/semantic-version@v4.0.2
        with:
          branch: main
          tag_prefix: "v"
          major_pattern: "Breaking Change" 
          minor_pattern: "feat:"
          format : "v${major}.${minor}.${patch}-prerelease ${increment}"
      - name: Read current versions
        id: read_version
        run: echo ${{steps.versioning.outputs.version}}
        
      - name: Commit and push version increment
        run: |
          git config user.name "P1989singh"
          git config user.email "prmkmrsingh@yahoo.in"
          git add version.txt
 #         git commit -m "Increment version to ${{ steps.read_version.outputs.filename }}"
          git commit -m "Semantic version increment ${{steps.versioning.outputs.version}}"    
          git push -u origin main
       #   - name: Deploy database scripts
        # Add your script deployment commands here
       # run: |
          # Example: Deploy your database scripts using a database management tool

     
     