name: Testing Script

on: push
  #schedule:
  #  - cron: '0 0 * * 0'  # Run every Sunday at midnight

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: semantic versioning
        id: versioning
        uses: paulHatch/semantic-version@v4.0.2
        with:
          branch: main
          tag_prefix: "v"
          major_pattern: "Breaking Change" 
          minor_pattern: "feat:"
          format : "v${major}.${minor}.${patch}-prerelease ${increment}"
      - name: Get Changed Files
        id: changed-files
        uses: tj-actions/changed-files@v40
        with:
          files:src/*.{txt,sql}
          files_ignore:src/static.js
      - name: List all changed file
        if: steps.changed-files.outputs.any_changed=='true'
        run: | 
          echo "One or more files in the SRC folder has changed."
          echo "List all the files that have changed: ${{steps.changed-files-specific.outputs.all_changed_files}}"

   