name: Testing Script

on: push
  #schedule:
  #  - cron: '0 0 * * 0'  # Run every Sunday at midnight

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: semantic versioning
        id: versioning
        uses: paulHatch/semantic-version@v4.0.2
        with:
          branch: main
          tag_prefix: "v"
          major_pattern: "Breaking Change" 
          minor_pattern: "feat:"
          format : "v${major}.${minor}.${patch}-prerelease ${increment}"
      - name: Get Changed Files
        id: changed-files
        uses: tj-actions/changed-files@v40
      - name: List all changed files
        run: | 
          for file in ${{steps.changed-files.outputs.all_changed_files}};do
            echo "$file was changed"
          done

      - name: Commit and push version increment
        run: | 
         git config user.name "P1989singh"
         git config user.email "prmkmrsingh@yahoo.in"
         git add version.txt
         git commit -m "Semantic version increment ${{steps.versioning.outputs.version}}"    
         git push -u origin main
     
     