name: Testing Script

on: push
  #schedule:
  #  - cron: '0 0 * * 0'  # Run every Sunday at midnight

jobs:
  release:
    runs-on: ubuntu-latest
    # if: github.repository != 'P1989singh/testing2/demo'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: semantic versioning
        id: versioning
        uses: paulHatch/semantic-version@v4.0.2
        with:
          branch: main
          tag_prefix: "v"
          major_pattern: "Breaking Change" 
          minor_pattern: "feat:"
          format : "v${major}.${minor}.${patch}-prerelease ${increment}"
      - name: Read current versions
        id: read_version
     # - run: echo "${{steps.versioning.outputs.version}}"
        run: echo "filename= $(cat version.txt)" >>  $GITHUB_OUTPUT
      - name: Increment PATCH version
        id: increment_version
        run: echo $((($(echo ${{ steps.read_version.outputs.filename }} | tr -d '.')+1))) > ./version.txt
      - id: env-setup
        run: |
            echo "env_token=demo12" >> $GITHUB_OUTPUT
      - run: |
            echo "${{ steps.env-setup.outputs.env_token }}"   

      - name: Commit and push version increment
        run: | 
         git config user.name "P1989singh"
         git config user.email "prmkmrsingh@yahoo.in"
         git add version.txt
         git commit -m "Semantic version increment ${{steps.versioning.outputs.version}}"    
         git push -u origin main
     
     